body {
    background: #f5f5f5;
}

footer {
    margin-top: 8px;
    margin-bottom: 8px;
    color: darkgray;
    text-align: center;
}

footer small a {
    color: #7AA7CF;
}


#shadow_image {
    position: relative;
    /*border: 1px solid #9E9E9E;*/
    margin: 0 auto 20px;
    display: block;
    background: url("../img/bg.png") repeat;
    /*background: red;*/
}

#main-container {
    position: relative;
    background: #ffffff;
    box-shadow: 0 1px 16px silver;
    min-height: 670px;
}

#header {
    background: #E8F5E9;
    color: #66BB6A;
    padding: 16px;
    margin-left: -15px;
    margin-right: -15px;
}

#mainrow {
    padding-top: 20px;
}

#canvascol {
    overflow: auto;
}

#header h3 {
    margin: 0;
}

.slider-selection {
    background: #c6c6c6;
}

.slider-track {
    background: #dcdcdc;
}

#padding-sliders label {
    float: left;
    width: 25%;
    font-weight: normal;
}

.panel-body {
    background: #fafafa;
}

.panel-body > .form-group {
    margin-top: 8px;
}

.panel-heading {
    cursor: pointer;
}
.panel-body {
    padding: 0 15px 0 15px !important;
}